1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ESP32 Hardware Monitor"
            VALUE "FileDescription", "ESP32 Hardware Monitor"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ESP32HardwareMonitor"
            VALUE "OriginalFilename", "ESP32HardwareMonitor.exe"
            VALUE "ProductName", "ESP32 Hardware Monitor"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

// 24 is the Windows-defined RT_MANIFEST resource type.
1 24 "app.manifest"
